@import "tailwindcss";

@import "tw-animate-css";

@config "../../tailwind.config.js";

svg title.hidden {
  display: none;
  pointer-events: none;
}

.undp-viz-low-opacity {
  opacity: 0.8;
}

.undp-viz-g-with-hover {
  transition: opacity 0.2s;
}

.undp-viz-g-with-hover:hover {
  opacity: 1 !important;
}

.maplibregl-control-container {
  display: none;
}

.maplibregl-ctrl-scale {
  font-size: 12px !important;
  font-family: var(
    --font-body,
    "ProximaNova",
    "proxima-nova",
    "Helvetica Neue",
    "Roboto",
    sans-serif
  ) !important;
  font-weight: 700 !important;
}

.maplibregl-ctrl-attrib-inner {
  font-size: 12px !important;
  font-family: var(
    --font-body,
    "ProximaNova",
    "proxima-nova",
    "Helvetica Neue",
    "Roboto",
    sans-serif
  ) !important;
  font-weight: 700 !important;
}

.maplibregl-ctrl-attrib-inner a {
  font-size: inherit !important;
  font-family: inherit !important;
  background-image: none !important;
  font-weight: inherit !important;
}

.maplibre-show-control .maplibregl-control-container {
  display: block !important;
}

.maplibregl-ctrl-attrib-button:before {
  content: none !important;
}

.undp-viz-data-cards-container {
  container-type: inline-size;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  overflow-x: hidden !important;
}

.undp-ref-line {
  stroke-width: 1.5;
  stroke-dasharray: 4, 4;
}

.undp-tick-line {
  stroke-width: 1;
  stroke-dasharray: 4, 8;
}
